*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorHeader{
    width: 90%;
    margin: auto;
    background-color: black;
    border-radius: 25px;
    padding:  10px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.icoFlecha{
    width: 70px;
    

}

.contenedorTodo{
    width: 90%;
    margin: auto;
    background-color: black;
    border-radius: 25px;
    padding:  10px;
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.cards{
    width: 200px;
    padding: 15px;
    background-color: cornflowerblue;
    border-radius: 20px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.formatoPic{
    width: 150px;
    border-radius: 150px;
}
.formatoImg{
    height: 150px;
    border-radius: 10px;
}

.contenedorTextos{
    width: 95%;
    margin-top: 15px;
}

.txtLabel{
    font-weight: 300;
    margin: 0;
    color: white;
}

.txtTexto{
    font-weight: 500;
    margin: 0;
    color: white;
}